In [4]:
import pandas as pd

df=pd.read_csv("data/Sentiment-Analysis-Dataset.zip",error_bad_lines=False)

b'Skipping line 8836: expected 4 fields, saw 5\n'
b'Skipping line 535882: expected 4 fields, saw 7\n'

In [5]:
df.head()

,ItemID,Sentiment,SentimentSource,SentimentText
0,1,0,Sentiment140,is so sad for my APL frie...
1,2,0,Sentiment140,I missed the New Moon trail...
2,3,1,Sentiment140,omg its already 7:30 :O
3,4,0,Sentiment140,.. Omgaga. Im sooo im gunna CRy. I'...
4,5,0,Sentiment140,i think mi bf is cheating on me!!! ...

In [7]:
df['SentimentText'].head(15)

0                          is so sad for my APL frie...
1                        I missed the New Moon trail...
2                               omg its already 7:30 :O
3               .. Omgaga. Im sooo  im gunna CRy. I'...
4              i think mi bf is cheating on me!!!   ...
5                     or i just worry too much?
6                    Juuuuuuuuuuuuuuuuussssst Chillin!!
7            Sunny Again        Work Tomorrow  :-|  ...
8           handed in my uniform today . i miss you ...
9              hmmmm.... i wonder how she my number @-)
10                        I must think about positive..
11          thanks to all the haters up in my face a...
12                       this weekend has sucked so far
13               jb isnt showing in australia any more!
14                                 ok thats it you win.
Name: SentimentText, dtype: object

In [8]:
from sklearn.feature_extraction.text import HashingVectorizer
HashingVectorizer?

In [12]:
pip install nltk

ERROR: Could not find an activated virtualenv (required).
Note: you may need to restart the kernel to use updated packages.